*{
    margin: 0px;
    padding: 0px;
}
.menu-container{
    background-color: rgba(61, 58, 58, 0.815);
    padding: 10px;
    color: white;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-around;

}
.menus{
    display: flex;
}
.log{
    width: 110px;
    font-weight: bolder;

}
.item{
    margin-right: 10px;
    padding: 6px;
    font-size: 20px;
}
.item:hover{
    color: burlywood;
    cursor: pointer;
}
.person{
    width: 250px;


}
.banner-container{
    display: flex;
    align-items: center;
    height: 100vh;
    justify-content: space-around;
    /* border: 2px solid grey; */
    background-color: beige;
}
.title{
    font-size: 50px;
    font-weight: bold;
}
.description{
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.click{
    padding: 10px 20px;
    background-color: rgb(25, 25, 39);
    color: white;
    border: none;
    border-radius: 5px;
    font-size: large;
    cursor: pointer;
}
.click:hover{
    background-color: rgb(190, 149, 34);
}
.about-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 50vh;
    /* flex-direction: row-reverse; */
     
     
}
.for-bg{
    background-color: rgba(113, 156, 156, 0.678);
}
.abt{
    justify-content: space-around;
    display: flex;
    align-items: center;
    padding: 15px;
    font-size: 50px;
    font-weight: bold;
    

}
.abt-head{
    font-size: 35px;
}
.abt-para{
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 20px;
}
.abt-btn{
    padding: 10px 20px;
    font-size: large;
    border: none;
    border-radius: 5px;

}
.abt-btn:hover{
    background-color: rgb(59, 209, 209);
    cursor: pointer;
}
.services{
    justify-content: space-around;
    display: flex;
    align-items: center;
    padding: 15px;
    font-size: 50px;
    font-weight: bold;
    /* margin-bottom: 20px; */
    
}
.service-container{
    display: flex;
    justify-content: space-around;
    margin-bottom: 50px;
    padding: 20px;
   
}
.box{
    width: 200px;
    height: 250px;
    box-shadow: 4px 4px 15px grey;
    text-align: center;
    padding: 10px;
    border-radius: 5px;
    background-color: antiquewhite;
}
.dev{
    width: 80px;
    padding: 15px;
    margin-top: 5px;
    
    
}
.service-head{
   margin-top: 5px;
  margin-bottom: 5px;
    
}
.service-para{
    margin-bottom: 15px;
    font-size: 15px;
}
/* footer section  */

.footer{
    display: flex;
    /* text-align: center; */
    height: 200px;
    justify-content: space-around;
    background-color: rgba(95, 92, 92, 0.795);
    padding: 20px;
    /* border: 3px solid red; */
    
    
    
}
.footer-left{

}
.link-title{
    margin-bottom: 15px;
}
.links{
    list-style: none;
    font-size: 18px;
     

}
.footer-para{
    font-size: 20px;
    font-style: italic;
}
.gap{
    margin: 7px;
    font-size: 17px;
}
.copyright{
    text-align: center;
    padding: 5px;
    background-color: rgba(95, 92, 92, 0.795);
}
